html {
    font-size: 16px;
}

h1 {
    font-size: 20px;
}

.noMargin {
    margin: 0 !important;
}

.noPadding {
    padding: 0 !important;
}

.noBorder {
    border: 0 !important;
}

.auctions {
    text-transform: uppercase;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.auction-details {
    display: inline-block;
    line-height: 160%;
    font-size: 13px;
    width: 238px;
    vertical-align: middle;
}

td, th {
    padding: 1px;
}

input.auction-input {
    display: inline;
    width: 100px;
    height: auto;
    padding: 0;
    margin: 0;
}

.collection .collection-item.avatar {
    padding: 4px;
    min-height: 0;
}

.collection .collection-item.avatar .circle,
.auctions img
{
    vertical-align: middle;
    /* margin-right: 8px; */
    width: 96px;
    height: 96px;
    position: static;
}

nav {
    height: 52px;
    line-height: 52px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

.tabs .indicator {
    background-color: #2196f3;
}

