<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>braincode2017</title>
        <link rel="stylesheet" href="css/materialize.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body style="width:360px;">
        <nav class="blue darken-3">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">braincode2017</a>
            </div>
        </nav>
        <main id="main" v-on:load="check()">
            <section v-if="authenticated">
                <div class="row noMargin noPadding">
                    <div class="col s12 noMargin noPadding">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab col s6"><a class="active blue-text" href="#tab1">Obserwowane aukcje</a></li>
                            <li class="tab col s6"><a class="blue-text" href="#tab2">Podejrzyj token</a></li>
                        </ul>
                    </div>

                    <div id="tab1" class="col s12 noMargin noPadding noBorder">
                        <ul class="collection auctions">
                            <li class="collection-item avatar" v-for="auction in auctions">
                                <img v-bind:src="auction.img" v-bind:alt="auction.title" class="circle">
                                <div class="auction-details">
                                    <table>
                                        <tr><th colspan="2">{{ auction.title }}</th></tr>
                                        <tr><td>Aktualna kwota:</td><td>{{ auction.price }}</td></tr>
                                        <tr><td>Data zakończenia:</td><td>{{ auction.date }}</td></tr>
                                        <tr>
                                            <td>Limit kwoty:</td>
                                            <td> 
                                                <input placeholder="Limit kwoty" title="Limit kwoty" name="limit" type="number" class="validate auction-input" v-model="auction.limit">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="tab2" class="col s12">
                        {{ token }}
                    </div>
                </div>
            </section>
            <section v-else>
                <form class="row">
                    <div class="col s12">
                        <h1>Przejdź do Allegro by autoryzować wtyczkę</h1>
                    </div>
                    <div class="input-field col s12">
                        <a class="btn waves-effect waves-light" target="_blank" v-bind:href="url">
                            Autoryzuj wtyczkę
                        </a>
                    </div>
                </form>
            </section>
        </main>

        <script src="js/jquery-3.2.0.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/axios.js"></script>
        <script src="js/popup.js"></script>
    </body>
</html>
