<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>braincode2017</title>
        <link rel="stylesheet" href="css/materialize.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body style="width:380px;">
        <main id="main">
            <nav class="blue darken-3">
                <div class="nav-wrapper">
                    <a href="#" v-on:click="switchPage('list')" class="left" v-if="authenticated">&#x2261;</a>
                    <a href="#" v-on:click="switchPage('list')" class="brand-logo center">braincode2017</a>
                    <a href="#" v-on:click="switchPage('options')" class="right" v-if="authenticated">&#9881;</a>
                </div>
            </nav>
            <section v-if="authenticated">
                <div class="row noMargin noPadding" v-if="page.list">
                    <div class="col s12 noMargin noPadding">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab col s6"><a class="active blue-text" href="#tab_obs">Obserwowane aukcje</a></li>
                            <li class="tab col s6"><a class="blue-text" href="#tab_lic">Licytowane aukcje</a></li>

                        </ul>
                    </div>

                    <div id="tab_obs" class="col s12 noMargin noPadding noBorder">
                        <ul class="collection auctions">
                            <li class="collection-item avatar" v-for="auction in auctions" :key="auction.id" v-if="auction.watched">
                                <img v-bind:src="auction.img" v-bind:alt="auction.title">
                                <div class="auction-details">
                                    <table>
                                        <tr><th colspan="2">{{ auction.title }} <a target="_blank" v-bind:href="auction.url">LINK</a></th></tr>
                                        <tr><td>Kwota licytacji:</td><td>{{ auction.price }}</td></tr>
                                        <tr><td>Kup teraz:</td><td>{{ auction.buyNow }}</td></tr>
                                        <tr><td>Data zakończenia:</td><td>{{ auction.date }}</td></tr>
                                        <tr><td>Czas do końca:</td><td>{{ auction.diff }} sekund<td></tr>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="tab_lic" class="col s12 noMargin noPadding noBorder">
                        <ul class="collection auctions">
                            <li class="collection-item avatar" v-for="auction in auctions" :key="auction.id" v-if="auction.bidded">
                                <img v-bind:src="auction.img" v-bind:alt="auction.title">
                                <div class="auction-details">
                                    <table>
                                        <tr><th colspan="2">{{ auction.title }} <a target="_blank" v-bind:href="auction.url">LINK</a></th></tr>
                                        <tr><td>Kwota licytacji:</td><td>{{ auction.price }}</td></tr>
                                        <tr><td>Kup teraz:</td><td>{{ auction.buyNow }}</td></tr>
                                        <tr><td>Data zakończenia:</td><td>{{ auction.date }}</td></tr>
                                        <tr><td>Czas do końca:</td><td>{{ auction.diff }} sekund<td></tr>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div v-else-if="page.details">
                    <h1>Szczegóły aukcji</h1>

                </div>
                <div v-else-if="page.options">
                    <form class="row">
                        <div class="col s12">
                            <h1>Ustawienia wtyczki</h1>
                        </div>
                        <div class="input-field col s12">
                            <input id="refresh" type="number" class="validate" v-model="options_refresh">
                            <label for="refresh">Odświeżanie listy aukcji (sek)</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="alarm" type="number" class="validate" v-model="options_alarm">
                            <label for="alarm">Alert o końcu aukcji (sek przed końcem)</label>
                        </div>
                        <button type="button" class="btn deep-orange darken-4 waves-effect waves-light" v-on:click="logout()">Wyloguj się</button>
                    </form>
                </div>
            </section>
            <section v-else>
                <form class="row">
                    <div class="col s12">
                        <h1>Zaloguj się swoimi danymi Allegro!</h1>
                    </div>
                    <div class="error-msg">
                        {{ form.error }}
                    </div>
                    <div class="input-field col s12">
                        <input id="login" type="text" class="validate" v-model="credentials.login" v-bind:disabled="form.sent == 1 ? true : false">
                        <label for="login">Login</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" v-model="credentials.password" v-bind:disabled="form.sent == 1 ? true : false">
                        <label for="password">Hasło</label>
                    </div>
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="button" v-on:click="submitForm()" v-bind:disabled="form.sent == 1 ? true : false">
                            Zaloguj się
                        </button>
                    </div>
                </form>
            </section>
        </main>

        <script src="vendor/jquery-2.2.4.min.js"></script>
        <script src="vendor/materialize.min.js"></script>
        <script src="vendor/vue.min.js"></script>
        <script src="vendor/moment.min.js"></script>
        <script src="vendor/lodash.core.js"></script>
        <script src="js/popup.js"></script>
    </body>
</html>
